.navbar {
    width: 100%;
    height: 100px;
    background: linear-gradient(10deg, #323246 0%, #3d325d 100%);
  }

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }
  
  .link a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
  }
  
  .link a:hover {
    color: #cdcdb9; 
  }
  
  .link a:last-child {
    margin-right: 0; 
  }
  
