/* footer css*/
.footer {
    width: 100%;
    height: 150px;
    background: linear-gradient(135deg, #323246 0%, #3d325d 100%); /* adds a gradient look */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    margin-top: 100px;
  }
  
  .socialMedia a {
    color: white;
    margin: 20px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
  }

  .socialMedia a:hover {
    text-decoration: underline; 
  }
  
  .footer p {
    color: white;
  }
  
  @media only screen and (max-width: 600px) {
    .footer svg {
      font-size: 50px;
    }
  }
